USE [cbtsplco_ommsuppliers]


select * from tblbudget
select * from tblbudgetMaster


exec sp_salaryNexpensiveGraphData



salaryNexpensiveGraphData


GraphSalary_N_ExpensiveViewModel


salary	price	remaining	month	year
69634.00	87518	-17884	JUL	2024



salary				
69634.00	87518	-17884	JUL	2024