.width-100 {
    width: 100%;
}

.row-height-main {
    height: 569px;
}

.month-width {
    width: 90px;
}

.right-algn {
    text-align: right;
}

.left-algn {
    text-align: left;
}

.center-algn {
    text-align: center;
}

.clr-red {
    color: red;
}

.wid-8 {
    width: 8%;
}

.wid-4 {
    width: 4%;
}

.hei-35 {
    height: 35px;
}

.group-repeat {
    background-color: #9c12b4;
    color: white;
}

.group-need {
    text-align: center;
    background-color: #007bff8a;
}

.group-save {
    text-align: center;
    background-color: #00800099;
}

.group-want {
    text-align: center;
    background-color: #ff000087;
}

.tbl-heading-summery {
    text-align: right;
    width: 100%;
    font-size: 11px;
}

.div-body-main {
    overflow: scroll;
    height: 516px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #17578729;
}

.red-clr {
    color: red;
}
















.col1 {
    width: 17%;
    text-align: right;
}

.col2 {
    width: 30%;
    text-align: left;
}

.col3 {
    width: 10%;
    text-align: center;
    font-size: 12px;
}

.col4 {
    width: 9%;
    text-align: left;
}

.spn-clr {
    color: red;
}


.spn-Mon {
    color: blue;
}
.spn-Tue {
    color: #795548;
}
.spn-Wed {
    color:#795548;
}
.spn-Thu {
    color: blue;
}
.spn-Fri {
    color:#795548;
}
.spn-Sat {
    color:red ;
}
.spn-Sun {
    color: red;
}

.box-save {
    width: 100px;
    border: 0px solid #00800087;
    color: white;
    background-color: #00800087;
}

.box-want {
    width: 100px;
    border: 0px solid #ff0000d1;
    color: white;
    background-color: #ff0000d1;
}

.box-need {
    width: 100px;
    border: 0px solid #ff830766;
    color: black;
    background-color: #ff830766;
}

.box-non {
    width: 100px;
    border: 0px solid white;
    color: white;
    background-color: #ffffff1a;
}


.box-assigned {
    width: 120px;
    border: 0px solid black;
    color: black;
    background-color: #83848638;
}

.box-assigned-3 {
    width: 100px;
    border: 0px solid black;
    color: black;
    background-color: rgba(216, 220, 149, 0.56);
}

.box-assigned-repeat {
    width: 100px;
    border: 0px solid black;
    color: white;
    background-color: #9c27b0;
}

.box-non-3 {
    width: 100px;
    border: 0px solid black;
    color: #dae4ec;
}


#tblExpensive > tr:hover {
    background-color: rgba(23, 87, 135, 0.37);
}

.dynamic-bg-tr {
    background-color: rgba(132, 135, 23, 0.37);
    color: white;
}

.tbl-custome {
    width: 100%;
}

.body-blure {
    filter: blur(6px);
}

.bg-yellow {
    background-color: yellow;
}

.group-food {
    background-color: #ffeb3b3b;
}

.group-beer {
    background-color: rgba(222, 132, 132, 0.38);
}

.bg-exclude{
    background-color:#0080005c;
}
